<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> &bull; <%= tag %></title>
    <link rel="shortcut icon" href="img/wings.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <!-- N A V -->
    <%- include("partials/component00") %>
    <main>
      <section>
        <div class="container">
          <div class="content">
            <h2>About iBOY</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
              inventore delectus itaque! Similique illum labore pariatur optio
              dolores beatae animi, unde nihil a nulla provident quod sunt
              molestias fuga minus.
            </p>
            <button>Read More!</button>
          </div>
          <div class="image">
            <img src="img/pexels-pixabay-235621.jpg" alt="Hero Image" />
          </div>
        </div>
      </section>
    </main>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
      "
    >
      <hr width="70%" />
    </div>

    <section class="IMAGE_CONTAINER">
      <div class="image-container">
        <h2>Gallery</h2>
        <div>
          <img src="img/pexels-ezra-comeau-2387418.jpg" alt="Images" />
          <img src="img/pexels-roberto-nickson-2775196.jpg" alt="Images" />
          <img src="img/pexels-pixabay-235621.jpg" alt="Images" />
          <img src="img/pexels-jaime-reimer-2662116.jpg" alt="Images" />
          <img src="img/pexels-jacob-colvin-1757363.jpg" alt="Images" />
          <img src="img/pexels-ezra-comeau-2387418.jpg" alt="Images" />
          <img src="img/pexels-ezra-comeau-2387418.jpg" alt="Images" />
          <img src="img/pexels-roberto-nickson-2775196.jpg" alt="Images" />
          <img src="img/pexels-pixabay-235621.jpg" alt="Images" />
          <img src="img/pexels-jaime-reimer-2662116.jpg" alt="Images" />
          <img src="img/pexels-jacob-colvin-1757363.jpg" alt="Images" />
          <img src="img/pexels-ezra-comeau-2387418.jpg" alt="Images" />
          <img src="img/pexels-ezra-comeau-2387418.jpg" alt="Images" />
          <img src="img/pexels-roberto-nickson-2775196.jpg" alt="Images" />
          <img src="img/pexels-pixabay-235621.jpg" alt="Images" />
          <img src="img/pexels-jaime-reimer-2662116.jpg" alt="Images" />
          <img src="img/pexels-jacob-colvin-1757363.jpg" alt="Images" />
          <img src="img/pexels-ezra-comeau-2387418.jpg" alt="Images" />
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include("partials/component01") %>
  </body>
</html>
