<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Css Overview</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/blog.css" />
    <script defer src="js/blog.js"></script>
  </head>
  <body>
    <!-- N A V -->
    <%- include("partials/component00") %>

    <main>
      <section>
        <!-- <div id="post">
          <h3>How to hack wifi on kali linux</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Necessitatibus autem ut officiis incidunt....
          </p>
          <button>Read More</button>
        </div>-->
      </section>
    </main>

    <!-- footer -->
    <%- include("partials/component01") %>
  </body>
</html>
