<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> &bull; <%= tag %></title>
    <link rel="shortcut icon" href="img/wings.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <!-- N A V -->
    <%- include("partials/component00") %>

    <!-- Hero Section -->
    <main>
      <section>
        <div>
          <h3>About Css</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
            Nesciunt odio facilis deserunt sint perspiciatis repudiandae
            quas.<br /><br />
            <a href="/about" target="_blank" rel="noopener noreferrer"
              >About Us</a
            >
          </p>
        </div>
        <div>
          <img src="img/bg.jpg" alt="hero-img" />
        </div>
      </section>
    </main>

    <section class="form-section">
      <h2>Contact Us</h2>
      <form action="#">
        <label for="name">Name: </label>
        <input
          type="text"
          name="name"
          placeholder="Enter Your Name"
          id="name"
        />
        <br /><br />
        <label for="email">Email: </label>
        <input
          type="text"
          name="email"
          placeholder="Enter Your Email"
          id="email"
        />
        <br /><br />
        <label for="msg">Message: </label>
        <textarea
          name="msg"
          id="msg"
          placeholder="Your Message Here!"
        ></textarea>
        <br /><br /><br />
        <button type="submit">Submit</button>
      </form>
    </section>

    <!-- footer -->
    <%- include("partials/component01") %>
  </body>
</html>
