/* NAV */
nav {
  padding: 0.6rem 10rem;
  background: var(--orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  transition: all 0.5s;
  padding: 0.5rem;
}
nav a {
  --white: rgba(255, 255, 255, 0.6);
  color: var(--white);
}
nav li:hover a {
  --white: rgba(255, 255, 255);
  color: var(--white);
}
nav li:hover {
  transform: translateY(-0.2rem);
}

/* footer */
footer {
  width: 100%;
  padding: 2rem 10rem;
  text-align: center;
  background: var(--orange);
}
