@font-face {
  font-family: "100";
  src: url(../fonts/100.woff2);
}
@font-face {
  font-family: "400";
  src: url(../fonts/400.woff2);
}
@font-face {
  font-family: "600";
  src: url(../fonts/600.woff2);
}

:root {
  --primary-color: #fd7e14;
  --secondary-color: #adb5bd;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --gray: #adb5bd;

  /* GRAYSCALE */
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 120%;
}
body {
  transition: all 1s;
  font-family: "400";
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
